body, html {
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 800px){
    /*To prevent keys to from becoming too small when resize screen */
    .keyboard-key, .keyboard-key-edit {
        height: 60px;
        width: 60px;
    }
}

/* Navigation Bar */
nav {
    background-color: ghostwhite;
    opacity: 0.7;
}

#logo {
    color: grey;
    font-size: large;
}

nav button {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background: none;
    color: grey;
}

.active-btn {
    color: lightpink;
}
/* End Navigation Bar */

/* Settings */
.theme-btn {
    border: none;
    background: none;
    padding: 0;
}

.border-shadow img:hover {
    box-shadow: 0 0 6px grey;
}

.border-shadow img {
    width: inherit;
    transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s; /* Safari */
}

/* End Settings */

#container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    margin: 0 auto;
    min-width:1000px;
}

canvas {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1
}

.components-container {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    padding: 80px 0 0;
    z-index: 2;
}

#settings-popover {
    display: none;
    width: 200px;
}

#keyboard-audio-visual {
    width: inherit;
    height: inherit;
    z-index: 2;
}

/* Keyboard */
#keyboard {
    height: 65%;
}

.keyboard-row {
    margin: 20px auto;
    height: 20%;
}

.keyboard-row-edit {
    margin: 15px auto;
    height: 16%;
}

.keyboard-key {
    opacity: 0.6;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}

.keyboard-key p {
    text-align: center;
    background-color: transparent;
}

.keyboard-key-edit {
    opacity: 0.7;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    padding-left: 3px;
    padding-right: 3px;
}

.keyboard-key-edit h6 {
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 2px;
}

.keyboard-key-edit p {
    font-size: xx-small;
    text-align: center;
    background-color: papayawhip;
}

.row1 {
    background-color: #62C9D3;
}

.row2 {
    background-color: #82CDDE;
}

.row3 {
    background-color: #A2D8E7;
}

.row4 {
    background-color: #C5E4F1;
}

.row5 {
    background-color: #E6F4FD;
}

.row5 h6 {
    visibility: hidden;
}

#keyboard div {
    word-wrap: break-word;
    overflow-y: hidden;
    font-size: x-small;
}

/* End Keyboard */

/* File Directory */
#file-directory {
    background-color: #F7D5D6;
    border: 1px solid hotpink;
    border-radius: 10px;
}
/* End File Directory */

#customization-container {
    margin-top: 10px;
    height: 30%;
}

#audio, #visuals {
    background-color: #D6EACC;
    border: 1px solid forestgreen;
    border-radius: 10px;
}

/*Audio*/

/* https://codepen.io/noahblon/pen/OyajvN */

.slider-square-container input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 25px;
    width: 80px;
    cursor: pointer;
    border-radius: 0;
    outline: none;
}

.slider-square::-webkit-slider-runnable-track {
    background: #fff;
}

.slider-square::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #70a943;
}

.slider-square::-moz-range-track {
    height: 40px;
    background: #fff;
}

.slider-square::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #70a943;
    box-sizing: border-box;
}

.slider-square::-ms-fill-lower { 
    background: #70a943;
}

.slider-square::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.slider-square::-ms-ticks-after { 
    display: none; 
}

.slider-square::-ms-ticks-before { 
    display: none; 
}

.slider-square::-ms-track { 
    background: #fff;
    color: transparent;
    height: 40px;
    border: none;
}

.slider-square::-ms-tooltip { 
    display: none;
}

.value-display {
    position: absolute;
    top: 0;
    left: 0;
    margin: 60px 0px 0px 113px;
    z-index: 1;
}

/* https://www.designlabthemes.com/css-toggle-switch/ */

/* Checkbox switch */

.checkbox-switch {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    height: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 14px;
}

.checkbox-switch input.input-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 30px;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.checkbox-switch .checkbox-animate {
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #95a5a6;
    -webkit-transition: background 0.25s ease-out 0s;
    transition: background 0.25s ease-out 0s;
}

.checkbox-switch .checkbox-animate:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #7f8c8d;
    top: 5px;
    left: 5px;
     -webkit-transition: left 0.3s ease-out 0s;
    transition: left 0.3s ease-out 0s;
    z-index: 10;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate {
    background-color: #70a943;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate:before {
    left: 55px;
    background-color: #548929;
}

.checkbox-switch .checkbox-off,
.checkbox-switch .checkbox-on {
    float: left;
    color: #fff;
    font-weight: 700;
    padding-top: 6px;
     -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.checkbox-switch .checkbox-off {
    margin-left: 30px;
    opacity: 1;
}

.checkbox-switch .checkbox-on {
    display: none;
    float: right;
    margin-right: 35px;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-off {
    display: none;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked + .checkbox-animate .checkbox-on {
    display: block;
    opacity: 1;
}

/* volume slider */

.slidecontainer .fa-volume-up {
    margin: 0px 10px 0px 0px;
}

.slidecontainer input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 150px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    background: #fff;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #70a945;
    border-radius: 50px;
    border: 1px solid #fff;
    box-shadow: -100vw 0 0 99.8vw #70a943;
}

.slider::-moz-range-track {
    height: 40px;
    background: #fff;
}

.slider::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #70a943;
    box-sizing: border-box;
}

.slider::-ms-fill-lower { 
    background: #70a943;
}

.slider::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.slider::-ms-ticks-after { 
    display: none; 
}

.slider::-ms-ticks-before { 
    display: none; 
}

.slider::-ms-track { 
    background: #fff;
    color: transparent;
    height: 40px;
    border: none;
}

.slider::-ms-tooltip { 
    display: none;
}

/* selected key */

.selected-key {
    position: absolute;
    top: 0;
    right: 10px;
}

.selected-key-size {
    width: 50px;
    height: 50px;
}


/* waveform */
.waveform-display {
    background-color: #eaf3db;
    border: 2px solid #aed792;
}

.justify-vertical .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 126px;
  align-items: center;
}

.control-buttons {
    background-color: #eaf3db;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid #aed792;
    display: inline-block;
    font-size: 20px;

    width: 40px;
    height: 40px;
}

.no-button-display {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 36px;
}
/* End Audio */


/* Visuals */
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

/* End Visuals */
